div.header {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;

	.title {
		.app-title {
			color: #333;
			font-size: 22pt;
	
			.fw-500 {
				font-weight: 500;
			}
		}

		.config-info {
			font-size: 11pt;
			font-weight: 500;
			color: #777;
		}
	}

	.config-button-container {
		width: 1.75rem;
		height: 1.75rem;
		cursor: pointer;
		color: rgb(87, 87, 87);
		margin-top: .25rem;
		transition: all .15s ease;

		&:hover {
			color: grey;
		}
	}
}

.form-group {
	margin-top: 1rem;
}

.version-info {
	position: absolute;
	color: green;
	font-size: 8pt;
	bottom: .5rem;
	right: .5rem;
}
